
        input[type="button"] 
        {
            width: 100%;
            height: 100%;
            background-color: rgb(104, 104, 152);
            color: white;
        }
         table{
            background-color:blue;
        }
        